
/vendor/

/tests/_log/
/tests/_support/_generated/
/tests/*.suite.yml
/codeception.yml
/tests/_data/fixtures/project-01/.phpunit.cache/
/tests/_data/fixtures/project-01/.phpunit.result.cache

/.git-hooks.local

/phpcs.xml

/phpstan.neon

/robo.yml
/RoboFileLocal.php

/composer.phpunit09.json
/composer.phpunit09.lock
/composer.phpunit10.json
/composer.phpunit10.lock
